%table{:class => 'list'}
  %tr
    %th= link_to User.human_attribute_name(:name), :action => :sort, :field => :name
    %th= link_to User.human_attribute_name(:surname), :action => :sort, :field => :surname
    %th= link_to User.human_attribute_name(:email), :action => :sort, :field => :email
  - @users.each do |user|
    %tr
      %td= link_to user.name, user
      %td= user.surname
      %td= mail_to user.email
