#logo= link_to image_tag('logo.png'), '/', :title => t(:home)
#splash
  %canvas{ :id => :title_canvas}
  #message
    - if flash[:info]
      #flash_info= flash[:info]
    - if flash[:notice]
      #flash_notice= flash[:notice]
    - if flash[:alert]
      #flash_alert= flash[:alert]
    - if flash[:error]
      #flash_error= flash[:error]
#control
  #login= render :partial => 'users/login'
  #lang= render :partial => 'layouts/lang'
